.done-button {
  background-color: lightdrey;
  padding: 15px;
  margin: 10px 0;
  font-size: 34px;
  border-radius: 5px;
  user-select: none;
  outline: none;
}

.card {
  min-height: 80px;
  min-width: 300px;
  margin: 10px;
  box-shadow:
  0px 1px 3px 0px rgba(0,0,0,0.2),
  0px 1px 1px 0px rgba(0,0,0,0.14),
  0px 2px 1px -1px rgba(0,0,0,0.12);
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.done-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.swanky-input-container {
  position: relative;
}

.swanky-input-container input{
  position: absolute;
  border: none;
  border-bottom: 1px solid black;
  width: calc(100% - 14px);
  height: 60px;
  font-size: 22px;
  padding-left: 10px;
  bottom: 2px;
  right: 2px;
  outline: none;
  transition: font-size 0.25s
}

.swanky-input-container input:focus{
  border-bottom: 2px solid green;
  font-size: 26px;
}

.swanky-input-container span.title{
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  user-select: none;
  transition: font-size 0.25s, color 1s;
  z-index: 15;
}

.swanky-input-container input:focus + span.title{
  font-size: 12px;
  color: green;
}

.email-invalid {
  position: absolute;
  top: 5px;
  right: 5px;

  color: red;
  text-align: right;
  font-size: 12px;
}

.swanky-input-container input:focus ~ span.email-invalid {
  display: none;
}

.goldRecords {
  position: absolute;
  right: 50px;
  height: 100%;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.goldRecord {
  width: 20px;
}

.goldRecord img {
  height: 50px;
}
